<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chalilayang.test" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/dribble"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExplosionActivity"
            android:label="@string/explosion" >
        </activity>
        <activity
            android:name=".WaveLoadingActivity"
            android:label="@string/waveloading" >
        </activity>
        <activity
            android:name=".StickyListActivity"
            android:label="@string/sticky_list_view" >
        </activity>
        <activity
            android:name=".LableTagActivity"
            android:label="@string/lable_tag_sample" >
        </activity>
        <activity
            android:name=".StickyListTestActivity"
            android:label="@string/sticky_list_view_extra" >
        </activity>
        <activity android:name=".ExpandableListTestActivity" >
        </activity>
        <activity
            android:name=".ClipPathTestActivity"
            android:label="@string/title_activity_clip_path_test" >
        </activity>
        <activity
            android:name="com.mobeta.android.demodslv.ArbItemSizeDSLV"
            android:label="@string/title_activity_clip_path_test" >
        </activity>
    </application>

</manifest>
